@font-face {
    font-family: "PWix";
    src: url("/fonts/bahij_janna-regular-webfont.woff2") format("woff2"),
        url("/fonts/bahij_janna-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "PWixBold";
    src: url("/fonts/bahij_janna-bold-webfont.woff2") format("woff2"),
        url("/fonts/bahij_janna-bold-webfont.woff") format("woff");
}

:root {
    --mainColor: #29ab87;
    --secondaryColor: #298eab;
    --white: #efefef;
}

.previousButton {
    transform: rotate(180deg);
}

.image-button {
    height: 50px;
    width: 50px;
    border: none;
}

.image-button:hover {
    cursor: pointer;
}

body {
    z-index: 0;
    background-color: var(--white);
    font-size: large;
    font-family: PWix;
    text-justify: auto;
}

p {
    font-family: PWix, Arial, Helvetica, sans-serif;
    line-height: 1.25em;
    text-align: left;
    padding: 0em 2em;
}

strong,
h1 {
    color: var(--mainColor);
}

h1,
h2,
h3,
h4 {
    font-family: PWix, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    text-align: center;

}

h2 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

h3,
h4 {
    padding: 0em;
    margin: 0em;
}

h4 {
    font-size: 1em;
}

h2,
h3,
h4,
a {
    color: var(--secondaryColor);

}

ul {
    font-family: PWix, Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    margin: 1.5em;
}

summary {
    font-family: PWix, Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}

.underlined {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    z-index: 1000;
}

ul a {
    text-decoration: none;
    font-family: PWixBold;
    font-size: larger;
    color: var(--white);
}

details:hover {
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translate(-1000px);

    }

    to {
        transform: translate(0px);
    }
}

nav {
    float: left;
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100vh;

    font-size: large;
    font-family: 'Courier New', Courier, monospace;

    background-color: var(--mainColor);

}

body nav+nav {
    z-index: 1;
    font-size: medium;
}


body>div img {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}

body>div {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--mainColor);
    border-radius: 0px 0px 10px 0px;
    display: none;
    z-index: 10000;
}



html,
body {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: var(--white);
    width: 100%;
}

figure {
    display: flex;
    justify-content: center;
}



/* SECOND NAV */

body nav+nav {
    background-color: var(--secondaryColor);
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

body nav+nav ul {
    height: auto;
}

body nav+nav details {
    margin: 1em;
}

body nav+nav li {
    margin-top: 1em;
    list-style: disc;
}


/* INTRO */

main[activePage="Intro"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main[activePage="Intro"] article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main[activePage="Intro"] article>figure img {
    max-width: 80%;
    height: auto;
}

main[activePage="Intro"] article:last-child {
    margin-top: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


main[activePage="Intro"] article:last-child img {
    max-height: 5em;
}

main[activePage="Intro"] article:last-child img:hover {
    cursor: pointer;
}

/* PROJECTS */

main[activePage="Projects"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main[activePage="Projects"] div figure img {
    width: 40vh;
}

main[activePage="Projects"] div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main[activePage="Projects"] .project-container {
    display: flex;
    flex-direction: row-reverse;
}


main[activePage="Projects"] .figures-container {
    display: flex;
    flex-direction: row-reverse;
}

main[activePage="Projects"] .figures-container figure {
    margin: 0px;
}

main[activePage="Projects"] .project-container {
    padding: 1em;
}

/* EDUCATION */

main[activePage="Education"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main[activePage="Education"] section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0em 1em;
    box-shadow: 1px 1px 3px 1px;
    border-radius: 10px;
    width: 70%;
}

main[activePage="Education"] section figure {
    margin: 0;
    padding: 0;
}

main[activePage="Education"] section>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
}

main[activePage="Education"] section>div h3,
main[activePage="Education"] section>div h2 {
    padding: 0px;
    margin: 0px;
}

main[activePage="Education"] img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Experiences */

main[activePage="Experiences"] p {
    padding: 0;
    margin: 0;
}

main[activePage="Experiences"] h1 {
    padding: 0;
    margin: 0;
}

main[activePage="Experiences"] article {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    padding: 0 5em;
}

main[activePage="Experiences"] section:first-of-type {
    display: flex;
    flex-direction: row;
}

main[activePage="Experiences"] section:first-of-type section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

main[activePage="Experiences"] div {
    padding-bottom: 1em;
}

main[activePage="Experiences"] .description {
    width: 100%;
}

/* CONTACT */

main[activePage="Contact"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

main[activePage="Contact"] figure img {
    width: 60%;
}

main[activePage="Contact"] article {
    margin: 1em;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 1px grey;
    min-height: 40%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main[activePage="Contact"] p {
    text-align: center;
    font-size: 1.25em;
    vertical-align: baseline;

}

main[activePage="Contact"] p a img {
    vertical-align: top;


}

/* SKILLS */
main[activePage="Skills"]{
    flex-direction: column;
    display: flex;
}

main[activePage="Skills"] article{
    width: 100%;
    flex-direction: row;
    display: flex;
}

main[activePage="Skills"] article .top{
    justify-content: space-around !important;
}


main[activePage="Skills"] div {
    display: flex;
    /* justify-content: center; */
    height: 100%;
    width: 33%;

}

/* main[activePage="Skills"] .top {
    align-items: flex-start;
}

main[activePage="Skills"] .bottom {
    align-items: flex-end;
}

main[activePage="Skills"] canvas {
    width: 80%;
} */


@media (width < 1300px) {



    main[activePage="Intro"],
    main[activePage="Intro"] article {
        flex-direction: column;
    }

    main[activePage="Intro"] article:last-child {
        flex-direction: row;

    }

    main[activePage="Intro"] img {
        width: 70px;
    }

    main[activePage="Intro"] article>figure img {
        width: 80%;
    }


    main[activePage="Projects"] div.project-container {
        flex-direction: column-reverse;
    }

    main[activePage="Projects"] {
        flex-direction: column;
    }

    main[activePage="Projects"] div figure img {
        width: 30vh;
    }

    main[activePage="Experiences"] section:first-of-type {
        display: flex;
        flex-direction: column;
    }

    main[activePage="Experiences"] article {
        padding: 10px;
    }

    main[activePage="Contact"] {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    main[activePage="Contact"] figure img {
        width: auto;
        height: 80px;
    }

    main[activePage="Contact"] article {
        margin: 0.5em;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 1px grey;
        min-height: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (width < 750px) {


    body main {
        margin-top: 1em !important;
    }

    p {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2,
    h3 {
        font-size: 1.2em;
    }

    body>div {
        display: block;
    }

    nav {
        position: fixed;
        left: 0px;
        width: 50%;
        animation: slide 0.25s;

    }

    body nav+nav {
        left: 50%;
    }


}