@font-face {
    font-family: "PWix";
    src: url("/fonts/bahij_janna-regular-webfont.woff2") format("woff2"),
         url("/fonts/bahij_janna-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "PWixBold";
    src: url("/fonts/bahij_janna-bold-webfont.woff2") format("woff2"),
         url("/fonts/bahij_janna-bold-webfont.woff") format("woff");
}

:root {
    --mainColor: #29ab87;
    --secondaryColor: #298eab;
    --white: #efefef;
  }

<<<<<<< Updated upstream:style.css
=======
/* #Skills{
    display: none;
} */


.previousButton{
    transform: rotate(180deg);
}

.image-button{
    height: 50px;
    width: 50px;
    border: none;
}

.image-button:hover{
    cursor: pointer;
}
>>>>>>> Stashed changes:pages/style.css

body{
    z-index: 0;
    background-color: var(--white);
    font-size: large;
    font-family: PWix;
    text-justify: auto;
}


p{
    font-family: PWix;
    line-height: 1.25em;
    text-align: left;
    padding: 0em 2em;
}

strong, h1{
    color: var(--mainColor);
}

h1{
    font-size: 3em;
    font-family: PWixBold;
}

h2{
    font-size: 1.5em;
    font-family: PWixBold;
    text-align: center;
    width: 100%;
}

h3{
    font-family: PWixBold;
    padding: 0em;
    margin: 0em;
}

h2, h3, a{
    color: var(--secondaryColor);

}

ul{
    list-style: none;
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin: 1.5em;

}

.underlined{
    text-decoration: underline;
}

.hidden{
    display: none;
}

.visible{
    display: flex;
    width: 50%;
    z-index: 1000;
}

ul a {
    text-decoration: none;    
    font-family: PWixBold;
    font-size: larger;
    color: var(--white);
}

details:hover{
    cursor: pointer;
}

@keyframes slide{
    from{
        transform: translate(-1000px);

    }
    to{
        transform: translate(0px);
    }
}

nav{
    float: left;
    display: flex;
    align-items: center;
    justify-items: center;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 100vh;

    font-size: large;
    font-family: 'Courier New', Courier, monospace;

    background-color: var(--mainColor);

}

body nav + nav {
    z-index: 1;
    font-size: medium;
}


body>div img{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}

body>div{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--mainColor);
    border-radius: 0px 0px 10px 0px;
    display: none;
    z-index: 10000 ;
}



html, body{
    display: flex;
    flex-direction: row;
    padding:0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top:0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;    
    background-color: var(--white);
    width: 100%;
}

figure{
    display: flex;
    justify-content: center;
}



/* SECOND NAV */

body nav + nav{
    background-color: var(--secondaryColor);
    display:flex;
    flex-basis:200px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

body nav + nav details{
    margin: 1em;
}

body nav + nav li{
    margin-top: 1em;
    list-style: disc;
}


/* INTRO */

main[activePage="Intro"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main[activePage="Intro"] article{
    display: flex;
    flex-direction: row;
    align-items: center;
}

main[activePage="Intro"] article>figure img{
    max-width: 100%;
    height: auto;
}

main[activePage="Intro"] article:last-child{
    margin-top: 5%;
    justify-content: space-evenly;
}


main[activePage="Intro"] article:last-child img{
    height: 10vh;
    margin: 1em;
}

main[activePage="Intro"] article:last-child img:hover{
    cursor: pointer;
}

/* PROJECTS */

main[activePage="Projects"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main[activePage="Projects"] img{
    width: 40vh;
}

main[activePage="Projects"] div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main[activePage="Projects"] .project-container{
    display: flex;
    flex-direction: row-reverse;
}


main[activePage="Projects"] .previousButton{
    transform: rotate(180deg);
}

main[activePage="Projects"] .image-button{
    height: 50px;
    width: 50px;
    border: none;
}

main[activePage="Projects"] .figures-container{
    display: flex;
    flex-direction: row-reverse;
}

main[activePage="Projects"] .figures-container figure{
    margin: 0px;
}

main[activePage="Projects"] .image-button:hover{
    cursor: pointer;
}

/* EDUCATION */

main[activePage="Education"]{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main[activePage="Education"] section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0em 1em;
    box-shadow: 1px 1px 3px 1px ;
    border-radius: 10px;
    width: 70%;
}


main[activePage="Education"] section > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
}

main[activePage="Education"] section > div h3,
main[activePage="Education"] section > div h2{
   padding: 0px;
   margin: 0px;
}

main[activePage="Education"] img{
    max-width: 100%;
    height: auto;    
    display: block;  
    margin: auto; 
}


@media (height< 600px) , (width< 1000px){
    main[activePage="Intro"] article:last-child{
        display:none;
    }

    main[activePage="Intro"], main[activePage="Intro"] article{
        flex-direction: column;
    }

    main[activePage="Intro"] article img{
        width: 70%;
    }


    body main{
       margin-top: 1em !important;
    }

    p{
        font-size: 0.9em;
    }

    h1{
        font-size: 1.5em;
    }

    h2, h3{
        font-size: 1.2em;
    }

    body>div{
        display: block;
    }

    nav{
        position: fixed;
        left:0px;
        width: 50%;
        animation: slide 0.25s ;

    }
    
    body nav + nav {
        left:50%;
    }

    main[activePage="Projects"] div.project-container{
        flex-direction: column-reverse;
    }

    main[activePage="Projects"] {
        flex-direction: column;
    }

    main[activePage="Projects"] img {
        width:30vh;
    }

}
